* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: blueviolet; */
    padding: 20px;
}

.dot {
    color: rgb(231, 99, 11);
}

.navitems {
    position: inherit;
    text-align: center;
    margin-top: -50px;
    margin-left: 175px;
}

.navitems a {
    text-decoration: none;
    text-align: center;
    background-color: rgba(8, 8, 43, 0.959);
    color: white;
    border: 1px solid rgba(10, 10, 44, 0.959);
    border-radius: 5px;
    float: left;
    padding: 15px;
    position: relative;
    margin: 1px;
}

.navitems a:hover {
    background-color: rgb(231, 99, 11);
}

.navitems .about a {
    background: rgb(231, 99, 11);
}

.content {
    /* border: 1px solid black; */
    /* clear: both; */
    padding: 5px;
    width: 100%;
    float: left;
}

.left {
    margin-left: -5px;
    /* clear: left; */
    /* border: 2px solid blue; */
    float: left;
}

.left img {
    width: 350px;
    height: 450px;
}

.general-detail {
    width: 350px;
    height: 150px;
    margin-top: -5px;
    background-color: rgba(10, 10, 44, 0.959);
}

.general-detail h3 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}

.detailpara {
    margin-left: 30px;
    padding-top: 10px;
}

.general-detail p {
    text-align: inherit;
    font-size: 13px;
    padding-bottom: 5px;
    color: rgb(231, 99, 11);
}

.general-detail .detailpara p span {
    color: white;
}

.right {
    /* border: 1px slid black; */
    display: block;
    background-color: rgb(248, 248, 248);
    width: 70%;
    float: right;
    padding-top: 20px;
    margin-right: 30px;
}

.right h2 {
    padding-top: 20px;
    padding-left: 50px;
    color: gray;
    font-size: 25px;
}

.right h3 {
    font-size: 60px;
    color: rgba(10, 10, 44, 0.959);
    /* padding-top: 20px; */
    padding-left: 45px;
    margin-top: -10px;
}

.description {
    padding-left: 50px;
    padding-top: 30px;
}

.description p {
    color: rgb(145, 139, 139);
    padding-top: 20px;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.progress {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: scroll;
}

.progress p {
    color: black;
    font-size: 15px;
}

.progress .one {
    float: left;
}

.progress .two {
    float: right;
    padding-right: 150px;
}

.intuition {
    width: 200px;
    height: 5px;
    /* background: linear-gradient(to left, blue, violet); */
    /* background-color: #888; */
    animation-name: intuition;
    /* border: 1px solid blue; */
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes intuition {
    0% {
        width: 0%;
        background: linear-gradient(to left, blue, violet);
    }
    /* 25% {
        width: 50%;
        background: linear-gradient(to left, blue, violet);
    } */
    /* 50% {
        width: 100%;
        background: linear-gradient(to left, blue, violet);
    }
    75% {
        width: 55%;
        background: linear-gradient(to left, blue, violet);
    } */
    100% {
        width: 75%;
        background: red;
    }
}

.creativity {
    width: 200px;
    height: 5px;
    /* background: linear-gradient(to left, blue, violet); */
    /* background-color: #888; */
    animation-name: creativity;
    /* border: 1px solid blue; */
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes creativity {
    0% {
        width: 0%;
        background: linear-gradient(to left, blue, violet);
    }
    /* 25% {
        width: 50%;
        background: linear-gradient(to left, blue, violet);
    } */
    /* 50% {
        width: 100%;
        background: linear-gradient(to left, blue, violet);
    }
    75% {
        width: 55%;
        background: linear-gradient(to left, blue, violet);
    } */
    100% {
        width: 83%;
        background: blue;
    }
}

.pureluck {
    width: 200px;
    height: 5px;
    /* background: linear-gradient(to left, blue, violet); */
    /* background-color: #888; */
    animation-name: pureluck;
    /* border: 1px solid blue; */
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes pureluck {
    0% {
        width: 0%;
        background: linear-gradient(to left, blue, violet);
    }
    /* 25% {
        width: 50%;
        background: linear-gradient(to left, blue, violet);
    }
    50% {
        width: 100%;
        background: linear-gradient(to left, blue, violet);
    }
    75% {
        width: 0%;
        background: linear-gradient(to left, blue, violet);
    } */
    100% {
        width: 25%;
        background: violet;
    }
}

.awesomeness {
    width: 200px;
    height: 5px;
    /* background: linear-gradient(to left, blue, violet); */
    /* background-color: #888; */
    animation-name: awesomeness;
    /* border: 1px solid blue; */
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes awesomeness {
    0% {
        width: 0%;
        background: linear-gradient(to left, blue, violet);
    }
    /* 25% {
        width: 50%;
        background: linear-gradient(to left, blue, violet);
    }
    50% {
        width: 100%;
        background: linear-gradient(to left, blue, violet);
    }
    75% {
        width: 55%;
        background: linear-gradient(to left, blue, violet);
    } */
    100% {
        width: 95%;
        background: greenyellow;
    }
}

.in {
    border: 1px solid rgb(150, 142, 142);
}

.cr {
    border: 1px solid rgb(150, 142, 142);
}

.aw {
    border: 1px solid rgb(150, 142, 142);
}

.pl {
    border: 1px solid rgb(150, 142, 142);
}

.details {
    width: 50%;
    /* text-align: center; */
    margin-left: 100px;
}

.details h1 {
    font-size: 25px;
}

.details h4 {
    color: #555;
    font-size: 15px;
    font-weight: bold;
}

.details span {
    color: rgb(231, 99, 11);
    font-size: 15px;
}

.details p {
    font-size: 12px;
}

.box1 {
    padding-top: 50px;
}

.box_box1 {
    /* border: 1px solid black; */
    margin-left: 150px;
    margin-top: -80px;
}

.box2 {
    padding-top: 50px;
}

.box_box2 {
    /* border: 1px solid black; */
    margin-left: 150px;
    margin-top: -80px;
}

.box3 {
    padding-top: 50px;
}

.box_box3 {
    /* border: 1px solid black; */
    margin-left: 150px;
    margin-top: -80px;
}

.footer {
    font-size: 12px;
    color: rgba(151, 133, 151, 0.589);
    clear: both;
    /* border: 1px solid black; */
    text-align: center;
}