* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: blueviolet; */
    padding: 20px;
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


  .stroketextheading{
    -webkit-text-stroke:  2px rgb(255, 106, 0);
    -webkit-text-fill-color:  white;
  }




.progress {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: no-scroll;
}

.progress p {
    color: black;
    font-size: 15px;
}

.progress .one {
    float: left;
}

.progress .two {
    float: right;
    padding-right: 150px;
}

.intuition {
    width: 200px;
    height: 5px;
    margin-top: -2px;
    margin-left: -2px;
    /* background: linear-gradient(to left, blue, violet); */
    /* background-color: #888; */
    animation-name: intuition;
    /* border: 1px solid blue; */
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes intuition {
    0% {
        width: 0%;
        background: linear-gradient(to left, blue, violet);
    }

    /* 25% {
        width: 50%;
        background: linear-gradient(to left, blue, violet);
    } */
    /* 50% {
        width: 100%;
        background: linear-gradient(to left, blue, violet);
    }
    75% {
        width: 55%;
        background: linear-gradient(to left, blue, violet);
    } */
    100% {
        width: 75%;
        background: linear-gradient(to left, blue, violet);
    }
}



.creativity {
    width: 200px;
    height: 5px;
    padding: 2px;
    margin-left: -2px;
    /* background: linear-gradient(to left, blue, violet); */
    /* background-color: #888; */
    animation-name: creativity;
    /* border: 1px solid blue; */
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes creativity {
    0% {
        width: 0%;
        background: linear-gradient(to left, rgb(102, 255, 0), rgb(130, 180, 238));
    }

    /* 25% {
        width: 50%;
        background: linear-gradient(to left, blue, violet);
    } */
    /* 50% {
        width: 100%;
        background: linear-gradient(to left, blue, violet);
    }
    75% {
        width: 55%;
        background: linear-gradient(to left, blue, violet);
    } */
    100% {
        width: 83%;
        background: linear-gradient(to left, rgb(102, 255, 0), rgb(130, 180, 238));
    }
}

.pureluck {
    width: 200px;
    height: 5px;
    margin-top: -0.5px;
    margin-left: -2px;
    /* background: linear-gradient(to left, blue, violet); */
    /* background-color: #888; */
    animation-name: pureluck;
    /* border: 1px solid blue; */
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes pureluck {
    0% {
        width: 0%;
        background: linear-gradient(to left, rgb(255, 196, 0), rgb(231, 91, 10));
    }

    /* 25% {
        width: 50%;
        background: linear-gradient(to left, blue, violet);
    }
    50% {
        width: 100%;
        background: linear-gradient(to left, blue, violet);
    }
    75% {
        width: 0%;
        background: linear-gradient(to left, blue, violet);
    } */
    100% {
        width: 25%;
        background: linear-gradient(to left, rgb(255, 196, 0), rgb(231, 91, 10));
    }
}

.awesomeness {
    width: 200px;
    height: 5px;
    /* background: linear-gradient(to left, blue, violet); */
    /* background-color: #888; */
    padding: 2px;
    margin-left: -2px;
    animation-name: awesomeness;
    /* border: 1px solid blue; */
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes awesomeness {
    0% {
        width: 0%;
        background: linear-gradient(to left, rgb(43, 28, 41), rgb(185, 15, 9));
    }

    /* 25% {
        width: 50%;
        background: linear-gradient(to left, blue, violet);
    }
    50% {
        width: 100%;
        background: linear-gradient(to left, blue, violet);
    }
    75% {
        width: 55%;
        background: linear-gradient(to left, blue, violet);
    } */
    100% {
        width: 95%;
        background: linear-gradient(to left, rgb(43, 28, 41), rgb(185, 15, 9));
    }
}

.in {
    border: 1px solid rgb(150, 142, 142);
}

.cr {
    border: 1px solid rgb(150, 142, 142);
}

.aw {
    border: 1px solid rgb(150, 142, 142);
}

.pl {
    border: 1px solid rgb(150, 142, 142);
}

.footer {
    font-size: 12px;
    color: rgba(151, 133, 151, 0.589);
    clear: both;
    /* border: 1px solid black; */
    text-align: center;
}